
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js example</title>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" type="text/css" href="tool/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="/tool/historySketch.js"></script>
  </head>
  <body>


	<div id='mainContainer'>
		<div class='sectionContainer'>
			<%=story%>
		</div>
		<div class='sectionContainer'>
			<select id='selectBrush'>
				<% brushes.map(brush => { %>
					<option value=<%=JSON.stringify(brush)%>>
						<%=brush.word%>
					</option>
				<% })%>
			</select>
			<button onclick='selectHistory()'>select</button>
		</div>
	</div>

	

	<script>
		

        $('.sectionContainer').hover(
          function (){
            dontDraw = true
            // console.log(dontDraw);
          }, 
          function (){
            dontDraw = false 
            // console.log(dontDraw);
          }
        )

		
		$(document).on('keydown', (e) => {
          if (e.key ==='Tab'){
            if($('.sectionContainer').css('display')==='none'){
              $('.sectionContainer').css({'display':'inline-block'})  
            } else {
              $('.sectionContainer').css({'display':'none'})  
            }
          }
        })

	</script>
	


</body>
</html>
