
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js example</title>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" type="text/css" href="tool/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="/tool/historySketch.js"></script>
  </head>
  <body>

    <div class='ruleContainer' id='ruleShow'>
      <button id='closeShow'>X</button>
      <p>
          <span class='user'>read a story, make a drawing.</span><br/>
          press <span class='ruleSpan'>tab</span> to display/hide tool bar.<br/> 
          the <span class='ruleSpan'>pens</span> are used by <span class='user'><%=user%></span>, when they created the drawing, the words may or may not have a clear realtionship with the story itself.<br/>
          pick a pen, and re-<span class='ruleSpan'>write</span> the story with a drawing.      
      </p>
    </div>


	<div id='mainContainer'>
		<div class='sectionContainer'>
			<%=story%>
		</div>
		<div class='sectionContainer'>
      pens:
			<select id='selectBrush'>
				<% brushes.map(brush => { %>
					<option value=<%=JSON.stringify(brush)%>>
						<%=brush.word%>
					</option>
				<% })%>
			</select>
			<button onclick='selectHistory()'>write</button>
		
    </div>
		<div class='sectionContainer'>
			<a href='/index'>back to home page</a><br/>
			<a href='/'>make your own drawings</a>
		</div>
    
	</div>


	<script>
		

        $('.sectionContainer').hover(
          function (){
            dontDraw = true
            // console.log(dontDraw);
          }, 
          function (){
            dontDraw = false 
            // console.log(dontDraw);
          }
        )


		$(document).on('keydown', (e) => {
          if (e.key ==='Tab'){
            if($('.sectionContainer').css('display')==='none'){
              $('.sectionContainer').css({'display':'inline-block'})  
            } else {
              $('.sectionContainer').css({'display':'none'})  
            }
          } 
        })

    $('#closeShow').on('click',() => {
            $('#ruleShow').css({'display':'none'})
        
    })

	</script>
	


</body>
</html>
