body {
	background: black;
	color: white;	
	font-size: 1.2em;
}

input, textarea, select{
	background-color: rgba(0,0,0,0.8);
	color: white;
}

a {
	color: cornflowerblue;
}

button{
	background-color: black;
	border-radius: 5px;
	color: white;
	border: white 1px solid;
}
canvas {
	/*border: white 3px solid;*/
	position: relative;
	left: 30vw;
	width: 50vw;
	height: 90vh;
	cursor: crosshair;
	cursor: none;
	/*z-index: -1;*/
}


.sectionContainer{
	border: rgba(255,255,255,0.5) 3px solid;
	padding: 10px;
	/*padding-top: 0;*/
	display: inline-block;		
	display: none;
	margin: 10px;
	border-radius: 10px;
	z-index: 10000;
	background-color: rgba(0,0,0,0.5);
}

.sectionContainer > div {
	margin-bottom: 5px;
	margin-top: 5px;
}


#mainContainer {
	padding: 10px;
	display: flex;
	width: 40vw;
	height: 100vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

#hearts {
	display: inline-block;
	display: none;
}


.color{
	/*position: relative;*/
	margin-right: 10px;
	margin-left: auto;
	/*float: right;*/
}


#seperator{
	border-top:rgba(255,255,255,0.5) 3px solid;
	/*width: 90%;*/
}


#selectorContainer{
	width: 100%;
}



#uploadForm{
	display: none;
	position: absolute;
	border: rgba(255,255,255,0.2) 3px solid;
	border-radius: 5px;
	color: cornflowerblue;
	z-index: 100000;
	width: 60vw;
	min-height: 60vh;
	left: 20vw;
	top: 20vh;
	background-color: rgba(0,0,0,0.9);
	font-style: bolder;
	font-size: 1.2em;
	padding: 20px;
	line-height: 1.9em;
	/*text-align: center;*/
}


#uploadForm > form > div {
	margin-bottom: 20px;
}


/*the following are styling for the index page*/
#indexMainContainer{
	padding: 1.5em;
	min-height: 100vh;
}



#indexIntro > h1{
	display: inline-block;
	text-align: justify;
}


#indexStoriesContainer {
	/*border: rgba(255,255,255,0.5) 3px solid;*/
	padding: 2em;
	color: cornflowerblue;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	align-items: center;
}


#indexStoriesContainer > div > a{
	color: white;
	text-decoration: none;
	border: white 1px solid;
	border-radius: 5px;
	padding: .3em;
}


.indexStory{
	margin-bottom: 30px;
	display: inline-block;
	width: 40vw;
	border: rgba(255,255,255,0.2) 3px solid;
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 20px;
}


.indexSpan{
	display: none;
}



.ruleContainer{
	position: absolute;
	display: block;
	border: rgba(255,255,255,0.2) 3px solid;
	border-radius: 5px;
	color: cornflowerblue;
	z-index: 100000;
	width: 60vw;
	min-height: 40vh;
	left: 20vw;
	top: 20vh;
	background-color: rgba(0,0,0,0.9);
	font-style: bolder;
	font-size: 1.2em;
	padding: 10px;
	line-height: 1.9em;
	text-align: center;
}

.ruleSpan {
	color: white;
	/*text-decoration: none;*/
	border: white 1px solid;
	border-radius: 5px;
	padding: 2px;
}

#ruleContainer > button {
	border: 1px solid white;
	background-color: black;
	color: white;
	padding:.2em;
	position: relative;
	left: 10px;
	padding: .3em;
	border-radius: 5px;
}


.user{
	color: white;
}


#pageContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer {
	color: rgba(255,255,255,0.8);
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;;
	/*position: absolute !important;*/
	text-align: center;
	width:100%;
/*	bottom: 0 !important;*/
}